In [1]:
!wget "https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_" -O mckinsey.csv

--2026-02-14 18:10:28--  https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
Resolving drive.google.com (drive.google.com)... 172.253.63.102, 172.253.63.113, 172.253.63.100, ...
Connecting to drive.google.com (drive.google.com)|172.253.63.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_&export=download [following]
--2026-02-14 18:10:28--  https://drive.usercontent.google.com/download?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 172.253.115.132, 2607:f8b0:4004:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|172.253.115.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83785 (82K) [application/octet-stream]
Saving to: ‘mckinsey.csv’

mckinsey.csv        100%[===================>]  81.82K  --.-KB/s    in 0.009s

2026-02-14 18:10:30 (8.85 MB/s) - ‘mckinsey.csv’ saved [83785/83785]

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("mckinsey.csv")

How can we add row in dataframe?

In [4]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [5]:
new_row={
    'country':'india',
    'year':2000,
    'life_exp':37.08,
    'population':13500000,
    'gdp_cap':900.23
    }

In [6]:
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        india  2000    13500000       NaN    37.080  900.230000

[1705 rows x 6 columns]

in above DF you can see if there is no value against column it will add NaN

In [7]:
# let us add row with new column, which is not preset in current dataframe

In [8]:
new_row={
    'country':'india',
    'year':2000,
    'life_exp':37.08,
    'population':13500000,
    'gdp_cap':900.23,
    'new_column':'new_value'
}

In [9]:
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

In [10]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
3     Afghanistan  1967    11537966      Asia    34.020  836.197138        NaN
4     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1706 rows x 7 columns]

As you can see, the new row has 'new_value' in the 'new_column',
and all previous rows have 'NaN' for this newly introduced column.

In [11]:
# We can use another method to append the row to data frame

In [12]:
df.loc[len(df.index)]=['india',2000,1350000000,37.08,900.23]

ValueError: cannot set a row with mismatched columns

In [13]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
3     Afghanistan  1967    11537966      Asia    34.020  836.197138        NaN
4     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1706 rows x 7 columns]

In above you can see every time you run concat they created new colmn

Now, can we also use iloc?

Adding row at a specific index position will replace the existing row at that position

In [14]:
df.iloc[len(df.index)]=['india',2000,1350000000,37.08,900.36]

IndexError: iloc cannot enlarge its target object

In [15]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
3     Afghanistan  1967    11537966      Asia    34.020  836.197138        NaN
4     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1706 rows x 7 columns]

In [16]:
#what if we try to add row with a new index?

In [17]:
df.iloc[len(df.index)]=['india',2000,1350000000,37.08]

IndexError: iloc cannot enlarge its target object

Why we are getting error?

For using iloc to add a row the dataframe must already have a row in that position.

---

if a row is not available, you'll see this IndexError

In [18]:
"""
When using the loc[] attributes. it's not mandatory that a row already exits with specific lable

"""

"\nWhen using the loc[] attributes. it's not mandatory that a row already exits with specific lable\n\n"

Now what if we want to delete a row?

In [19]:
#use df.drop() and use axis=0 to drop row

In [20]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
3     Afghanistan  1967    11537966      Asia    34.020  836.197138        NaN
4     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1706 rows x 7 columns]

In [21]:
df=df.drop(3,axis=0)

In [22]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
4     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
5     Afghanistan  1977    14880372      Asia    38.438  786.113360        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1705 rows x 7 columns]

In [23]:
# Now you can see lable 3 data deleted

In [24]:
df.loc[4] # This will print 4th row

country       Afghanistan
year                 1972
population       13079460
continent            Asia
life_exp           36.088
gdp_cap        739.981106
new_column            NaN
Name: 4, dtype: object

In [25]:
df.iloc[4] # This will print 5th row

country       Afghanistan
year                 1977
population       14880372
continent            Asia
life_exp           38.438
gdp_cap         786.11336
new_column            NaN
Name: 5, dtype: object

In [26]:
# Why this happen?

#Because loc select using row lable but iloc select row using integer position staring from 0

####How can we drop multiple position?

In [27]:
df.drop([1,2,4],axis=0)

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
5     Afghanistan  1977    14880372      Asia    38.438  786.113360        NaN
6     Afghanistan  1982    12881816      Asia    39.854  978.011439        NaN
7     Afghanistan  1987    13867957      Asia    40.822  852.395945        NaN
8     Afghanistan  1992    16317921      Asia    41.674  649.341395        NaN
...           ...   ...         ...       ...       ...         ...        ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1704        india  2000    13500000       NaN    37.080  900.230000        NaN
1705        india  2000    13500000       NaN    37.080  900.230000  new_value

[1702 rows x 7 columns]

In [28]:
#let's reset our indices now

df.reset_index(drop=True,inplace=True)  # since we removed earlier, we reset our indices

In [29]:
df

          country  year  population continent  life_exp     gdp_cap new_column
0     Afghanistan  1952     8425333      Asia    28.801  779.445314        NaN
1     Afghanistan  1957     9240934      Asia    30.332  820.853030        NaN
2     Afghanistan  1962    10267083      Asia    31.997  853.100710        NaN
3     Afghanistan  1972    13079460      Asia    36.088  739.981106        NaN
4     Afghanistan  1977    14880372      Asia    38.438  786.113360        NaN
...           ...   ...         ...       ...       ...         ...        ...
1700     Zimbabwe  1997    11404948    Africa    46.809  792.449960        NaN
1701     Zimbabwe  2002    11926563    Africa    39.989  672.038623        NaN
1702     Zimbabwe  2007    12311143    Africa    43.487  469.709298        NaN
1703        india  2000    13500000       NaN    37.080  900.230000        NaN
1704        india  2000    13500000       NaN    37.080  900.230000  new_value

[1705 rows x 7 columns]

How can we deal with these duplicate row?

In [30]:
#let's create some more duplicate rows to understand this

In [31]:
df.loc[len(df.index)]=['india',2000,'Asia',1350000000,37.08,900.23,'NA']
df.loc[len(df.index)]=['Sri lanka',2022,'Asia',130000000,80.08,500.00,'NA']
df.loc[len(df.index)]=['Sri lanka',2022,'Asia',130000000,80.08,500.00,'NA']
df.loc[len(df.index)]=['india',2000,'Asia',1350000000,37.08,900.23,'NA']

In [32]:
df

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,NaN
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,NaN
3,Afghanistan,1972,13079460,Asia,36.088,739.981106,NaN
4,Afghanistan,1977,14880372,Asia,38.438,786.113360,NaN
...,...,...,...,...,...,...,...
1704,india,2000,13500000,NaN,37.080,900.230000,new_value
1705,india,2000,Asia,1350000000,37.080,900.230000,NA
1706,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA
1707,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA
1708,india,2000,Asia,1350000000,37.080,900.230000,NA

In [33]:
# Now how can we check dublicate?

In [34]:
# df.dublicate() -> it return True if an entire row is identical to previous
df.dublicate()

AttributeError: 'DataFrame' object has no attribute 'dublicate'

In [35]:
# we can pandas loc data selector to extract those dublicate rows

In [36]:
df.loc[df.duplicated()]

        country  year population   continent  life_exp  gdp_cap new_column
1707  Sri lanka  2022       Asia   130000000     80.08   500.00         NA
1708      india  2000       Asia  1350000000     37.08   900.23         NA

In [37]:
df.drop_duplicates(keep="first")

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,NaN
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,NaN
3,Afghanistan,1972,13079460,Asia,36.088,739.981106,NaN
4,Afghanistan,1977,14880372,Asia,38.438,786.113360,NaN
...,...,...,...,...,...,...,...
1702,Zimbabwe,2007,12311143,Africa,43.487,469.709298,NaN
1703,india,2000,13500000,NaN,37.080,900.230000,NaN
1704,india,2000,13500000,NaN,37.080,900.230000,new_value
1705,india,2000,Asia,1350000000,37.080,900.230000,NA
1706,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA

In [38]:
df.drop_duplicates(keep="last")

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
1,Afghanistan,1957,9240934,Asia,30.332,820.853030,NaN
2,Afghanistan,1962,10267083,Asia,31.997,853.100710,NaN
3,Afghanistan,1972,13079460,Asia,36.088,739.981106,NaN
4,Afghanistan,1977,14880372,Asia,38.438,786.113360,NaN
...,...,...,...,...,...,...,...
1702,Zimbabwe,2007,12311143,Africa,43.487,469.709298,NaN
1703,india,2000,13500000,NaN,37.080,900.230000,NaN
1704,india,2000,13500000,NaN,37.080,900.230000,new_value
1707,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA
1708,india,2000,Asia,1350000000,37.080,900.230000,NA

In [39]:
df.drop_duplicates(subset=['country'],keep='first')

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
11,Albania,1952,1282697,Europe,55.230,1601.056136,NaN
23,Algeria,1952,9279525,Africa,43.077,2449.008185,NaN
35,Angola,1952,4232095,Africa,30.015,3520.610273,NaN
47,Argentina,1952,17876956,Americas,62.485,5911.315053,NaN
...,...,...,...,...,...,...,...
1667,"Yemen, Rep.",1952,4963829,Asia,32.548,781.717576,NaN
1679,Zambia,1952,2672000,Africa,42.038,1147.388831,NaN
1691,Zimbabwe,1952,3080907,Africa,48.451,406.884115,NaN
1703,india,2000,13500000,NaN,37.080,900.230000,NaN
1706,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA

How can we slice the dataframe into,say,first 4 rows and first 3 columns?

In [40]:
# We can use iloc

df.iloc[0:4,:3]

       country  year population
0  Afghanistan  1952    8425333
1  Afghanistan  1957    9240934
2  Afghanistan  1962   10267083
3  Afghanistan  1972   13079460

In [41]:
# pass in 2 different for slicing - one for row and pne for column just like Numpy

# Recall iloc doesn't include the end index while slicing

In [42]:
# can we do this by loc?

In [43]:
df.loc[1:5, 1:4]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

Why does slicing using indices doesn't work with loc

In [44]:
# Recall we need to work with explicit tables while using loc

In [45]:
df.loc[1:5, ['country','life_exp']]

       country  life_exp
1  Afghanistan    30.332
2  Afghanistan    31.997
3  Afghanistan    36.088
4  Afghanistan    38.438
5  Afghanistan    39.854

In [46]:
df.loc[1:5, ['year','population']]

   year population
1  1957    9240934
2  1962   10267083
3  1972   13079460
4  1977   14880372
5  1982   12881816

In [47]:
df.iloc[[0,10,100],[0,2,3]]

         country population continent
0    Afghanistan    8425333      Asia
10   Afghanistan   31889923      Asia
100   Bangladesh   80428306      Asia

In [48]:
# We can use step slicing also

In [49]:
df.iloc[1:10:2]

       country  year population continent  life_exp     gdp_cap new_column
1  Afghanistan  1957    9240934      Asia    30.332  820.853030        NaN
3  Afghanistan  1972   13079460      Asia    36.088  739.981106        NaN
5  Afghanistan  1982   12881816      Asia    39.854  978.011439        NaN
7  Afghanistan  1992   16317921      Asia    41.674  649.341395        NaN
9  Afghanistan  2002   25268405      Asia    42.129  726.734055        NaN

In [50]:
# Does step slicing work for loc too?

In [51]:
df.loc[1:10:2]

       country  year population continent  life_exp     gdp_cap new_column
1  Afghanistan  1957    9240934      Asia    30.332  820.853030        NaN
3  Afghanistan  1972   13079460      Asia    36.088  739.981106        NaN
5  Afghanistan  1982   12881816      Asia    39.854  978.011439        NaN
7  Afghanistan  1992   16317921      Asia    41.674  649.341395        NaN
9  Afghanistan  2002   25268405      Asia    42.129  726.734055        NaN

###pandas built-in operation

In [52]:
le=df['life_exp']

In [53]:
le

0       28.801
1       30.332
2       31.997
3       36.088
4       38.438
         ...
1704    37.080
1705    37.080
1706    80.080
1707    80.080
1708    37.080
Name: life_exp, Length: 1709, dtype: float64

#### How can we find the mean of the col life_exp?

In [54]:
df['life_exp'].mean()

np.float64(59.46103258045641)

In [55]:
df['life_exp'].sum()

np.float64(101618.90468)

In [56]:
df['life_exp'].max()

82.603

In [57]:
df['life_exp'].min()

23.599

In [58]:
df['life_exp'].median()

60.66

In [60]:
df['life_exp'].count()

np.int64(1709)

Sorting

In [63]:
df.sort_values('life_exp') # Rows get sorted based on values in life_exp column. by default, valueare sorted in ascending order

,country,year,population,continent,life_exp,gdp_cap,new_column
1291,Rwanda,1992,7290203,Africa,23.599,737.068595,NaN
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
551,Gambia,1952,284320,Africa,30.000,485.230659,NaN
35,Angola,1952,4232095,Africa,30.015,3520.610273,NaN
1343,Sierra Leone,1952,2143249,Africa,30.331,879.787736,NaN
...,...,...,...,...,...,...,...
1486,Switzerland,2007,7554661,Europe,81.701,37506.419070,NaN
694,Iceland,2007,301931,Europe,81.757,36180.789190,NaN
801,Japan,2002,127065841,Asia,82.000,28604.591900,NaN
670,"Hong Kong, China",2007,6980412,Asia,82.208,39724.978670,NaN
802,Japan,2007,127467972,Asia,82.603,31656.068060,NaN

In [65]:
# How to sort the rows in descending order?
df.sort_values('life_exp',ascending=False)

,country,year,population,continent,life_exp,gdp_cap,new_column
802,Japan,2007,127467972,Asia,82.603,31656.068060,NaN
670,"Hong Kong, China",2007,6980412,Asia,82.208,39724.978670,NaN
801,Japan,2002,127065841,Asia,82.000,28604.591900,NaN
694,Iceland,2007,301931,Europe,81.757,36180.789190,NaN
1486,Switzerland,2007,7554661,Europe,81.701,37506.419070,NaN
...,...,...,...,...,...,...,...
1343,Sierra Leone,1952,2143249,Africa,30.331,879.787736,NaN
35,Angola,1952,4232095,Africa,30.015,3520.610273,NaN
551,Gambia,1952,284320,Africa,30.000,485.230659,NaN
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
1291,Rwanda,1992,7290203,Africa,23.599,737.068595,NaN

Can we do sorting on multiple columns? -> yes

In [67]:
df.sort_values(['year','life_exp'])

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
551,Gambia,1952,284320,Africa,30.000,485.230659,NaN
35,Angola,1952,4232095,Africa,30.015,3520.610273,NaN
1343,Sierra Leone,1952,2143249,Africa,30.331,879.787736,NaN
1031,Mozambique,1952,6446316,Africa,31.286,468.526038,NaN
...,...,...,...,...,...,...,...
694,Iceland,2007,301931,Europe,81.757,36180.789190,NaN
670,"Hong Kong, China",2007,6980412,Asia,82.208,39724.978670,NaN
802,Japan,2007,127467972,Asia,82.603,31656.068060,NaN
1706,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA
1707,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA

What exactly happened here?



*   Rows were first sorted based on 'life_exp'
*   Then, rows with same values of 'year' were sorted based on 'life_exp'

In [69]:
df3=df.sort_values(['year','life_exp'])
df3.head(10)

,country,year,population,continent,life_exp,gdp_cap,new_column
0,Afghanistan,1952,8425333,Asia,28.801,779.445314,NaN
551,Gambia,1952,284320,Africa,30.000,485.230659,NaN
35,Angola,1952,4232095,Africa,30.015,3520.610273,NaN
1343,Sierra Leone,1952,2143249,Africa,30.331,879.787736,NaN
1031,Mozambique,1952,6446316,Africa,31.286,468.526038,NaN
191,Burkina Faso,1952,4469979,Africa,31.975,543.255241,NaN
623,Guinea-Bissau,1952,580653,Africa,32.500,299.850319,NaN
1667,"Yemen, Rep.",1952,4963829,Asia,32.548,781.717576,NaN
1391,Somalia,1952,2526994,Africa,32.978,1135.749842,NaN
611,Guinea,1952,2664249,Africa,33.609,510.196492,NaN

How can we have different sorting orders for different columns in multi-level sorting?

In [71]:
df.sort_values(['year','life_exp'],ascending=[True,False])

#Just Pack True and False for respective columns in a list []

,country,year,population,continent,life_exp,gdp_cap,new_column
1139,Norway,1952,3327728,Europe,72.670,10095.421720,NaN
683,Iceland,1952,147962,Europe,72.490,7267.688428,NaN
1079,Netherlands,1952,10381988,Europe,72.130,8941.571858,NaN
1463,Sweden,1952,7124673,Europe,71.860,8527.844662,NaN
407,Denmark,1952,4334000,Europe,70.780,9692.385245,NaN
...,...,...,...,...,...,...,...
1690,Zambia,2007,11746035,Africa,42.384,1271.211593,NaN
1042,Mozambique,2007,19951656,Africa,42.082,823.685621,NaN
1462,Swaziland,2007,1133066,Africa,39.613,4513.480643,NaN
1706,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA
1707,Sri lanka,2022,Asia,130000000,80.080,500.000000,NA

Cancatenating DataFrames

Let's use a mini-case, of users and messages

In [72]:
#users -> stores the user details - IDs and Names of users

In [73]:
users = pd.DataFrame({
    'user_id': [1,2,3],
    'name': ['shaadha','shahid','khusali']})

In [74]:
users

   user_id     name
0        1  shaadha
1        2   shahid
2        3  khusali

In [75]:
msgs=pd.DataFrame({
    'user_id':[1,2,3,4],
    'message':['hmm','acha','theek hai','nice']})

In [76]:
msgs

   user_id    message
0        1        hmm
1        2       acha
2        3  theek hai
3        4       nice

In [77]:
pd.concat([users,msgs])

   user_id     name    message
0        1  shaadha        NaN
1        2   shahid        NaN
2        3  khusali        NaN
0        1      NaN        hmm
1        2      NaN       acha
2        3      NaN  theek hai
3        4      NaN       nice

How exactly did concat work?



*   By default, axis=0 (row-wise) for cancatination
*   userid, being same in both dataframes, was combined into a single column.


*   First value of users dataframe were placed, with vlaue of column msg and NaN
*  Then values of msgs dataframe were placed with values of column msg and NaN

-> The Original indices of the rows were preserved.

Now how can we make the indices unique for each row?

In [80]:
pd.concat([users,msgs],ignore_index=True)

   user_id     name    message
0        1  shaadha        NaN
1        2   shahid        NaN
2        3  khusali        NaN
3        1      NaN        hmm
4        2      NaN       acha
5        3      NaN  theek hai
6        4      NaN       nice

How can we concatinate them horizontaly?

In [82]:
pd.concat([users,msgs],axis=1)

   user_id     name  user_id    message
0      1.0  shaadha        1        hmm
1      2.0   shahid        2       acha
2      3.0  khusali        3  theek hai
3      NaN      NaN        4       nice

As you can see here



*   Both the dataframes are combined horizontally (column-wise)
*   It gives 2 columns with different positinal (implicit) index, but same label

Mergeing Dataframes

In [84]:
# So far we have only concatenated and not merged data

# But what is the difference between concat and merge?

In [86]:
# -> Concat : simply stacks multiple Dataframes together along an axis
# -> Merge : Combine data frame in a smart way based on value in shared columns

How can we know tha name of person who send the msg?

In [90]:
# We need information from both the dataframes
# So, can we use pd.concat() for comnining the dataframes?
# Ans-> No

In [91]:
pd.concat([users,msgs],axis=1)

   user_id     name  user_id    message
0      1.0  shaadha        1        hmm
1      2.0   shahid        2       acha
2      3.0  khusali        3  theek hai
3      NaN      NaN        4       nice

What are the problems with concat here?



*   concat simply combined/cracked the dataframe horizontally
*   If you notice, userid 3 for user dataframe is stacked against userid 2 for msg dataframe.


*   This way of stacking doesn't help us gain any insights

In [92]:
# ==> pd.concat() does not work according to the values in the columns

# We need to merge the data

In [95]:
users.merge(msgs,on='user_id')

   user_id     name    message
0        1  shaadha        hmm
1        2   shahid       acha
2        3  khusali  theek hai

In [97]:
# only the userid common in both dataframes in shown

What type of join is this?

In [98]:
# 1. inner join

# -> Remember joins in SQL

# Inner join, Outer join, left join, right join

In [100]:
users.merge(msgs,on='user_id',how='inner')  # Here we specified key similer to promary key in sql

   user_id     name    message
0        1  shaadha        hmm
1        2   shahid       acha
2        3  khusali  theek hai

In [102]:
users.merge(msgs,on='user_id',how='outer') # All mising value will be replced by NaN

   user_id     name    message
0        1  shaadha        hmm
1        2   shahid       acha
2        3  khusali  theek hai
3        4      NaN       nice

In [104]:
users.merge(msgs,on='user_id',how='left')  # This will give info only for the users who sent a message

   user_id     name    message
0        1  shaadha        hmm
1        2   shahid       acha
2        3  khusali  theek hai

In [105]:
users.merge(msgs,on='user_id',how='right')

   user_id     name    message
0        1  shaadha        hmm
1        2   shahid       acha
2        3  khusali  theek hai
3        4      NaN       nice

In [107]:
# Note -> NaN in name can be thought of as an anonymous message

# But sometimes the column names might be different even if they contain the same data

# Let's rename our users column userid to id

In [113]:
users.rename({'user_id':'id'},inplace=True,axis=1)

In [114]:
users

   id     name
0   1  shaadha
1   2   shahid
2   3  khusali

Now, how can we merge the 2 dataframes when the key has different name?

In [115]:
users.merge(msgs,left_on='id',right_on='user_id')

   id     name  user_id    message
0   1  shaadha        1        hmm
1   2   shahid        2       acha
2   3  khusali        3  theek hai