In [2]:
import pandas as pd
import numpy as np

In [3]:
!wget "https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_" -O mckinsey.csv

--2026-02-12 10:04:12--  https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
Resolving drive.google.com (drive.google.com)... 142.250.101.100, 142.250.101.138, 142.250.101.113, ...
Connecting to drive.google.com (drive.google.com)|142.250.101.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_&export=download [following]
--2026-02-12 10:04:12--  https://drive.usercontent.google.com/download?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.101.132, 2607:f8b0:4023:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.101.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83785 (82K) [application/octet-stream]
Saving to: ‘mckinsey.csv’

mckinsey.csv        100%[===================>]  81.82K  --.-KB/s    in 0.03s

2026-02-12 10:04:13 (2.70 MB/s) - ‘mckinsey.csv’ saved [83785/83785]

In [4]:
df = pd.read_csv('mckinsey.csv')
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.shape

(1704, 6)

df → Pandas DataFrame object

In [7]:
df["country"].shape

(1704,)

DataFrame (2D) ↓ Series (1D)

In [9]:
type(df["country"])

pandas.core.series.Series

###Multiple Series → DataFrame

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [12]:
df.head(20)

        country  year  population continent  life_exp      gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801   779.445314
1   Afghanistan  1957     9240934      Asia    30.332   820.853030
2   Afghanistan  1962    10267083      Asia    31.997   853.100710
3   Afghanistan  1967    11537966      Asia    34.020   836.197138
4   Afghanistan  1972    13079460      Asia    36.088   739.981106
5   Afghanistan  1977    14880372      Asia    38.438   786.113360
6   Afghanistan  1982    12881816      Asia    39.854   978.011439
7   Afghanistan  1987    13867957      Asia    40.822   852.395945
8   Afghanistan  1992    16317921      Asia    41.674   649.341395
9   Afghanistan  1997    22227415      Asia    41.763   635.341351
10  Afghanistan  2002    25268405      Asia    42.129   726.734055
11  Afghanistan  2007    31889923      Asia    43.828   974.580338
12      Albania  1952     1282697    Europe    55.230  1601.056136
13      Albania  1957     1476505    Europe    59.280  1942.284244
14      Albania  1962     1728137    Europe    64.820  2312.888958
15      Albania  1967     1984060    Europe    66.220  2760.196931
16      Albania  1972     2263554    Europe    67.690  3313.422188
17      Albania  1977     2509048    Europe    68.930  3533.003910
18      Albania  1982     2780097    Europe    70.420  3630.880722
19      Albania  1987     3075321    Europe    72.000  3738.932735

In [15]:
df.tail(20)

#gives the last 20 rows based on arguemnt  and it will gives the last 5 rows by default if no argument

       country  year  population continent  life_exp      gdp_cap
1684    Zambia  1972     4506497    Africa    50.107  1773.498265
1685    Zambia  1977     5216550    Africa    51.386  1588.688299
1686    Zambia  1982     6100407    Africa    51.821  1408.678565
1687    Zambia  1987     7272406    Africa    50.821  1213.315116
1688    Zambia  1992     8381163    Africa    46.100  1210.884633
1689    Zambia  1997     9417789    Africa    40.238  1071.353818
1690    Zambia  2002    10595811    Africa    39.193  1071.613938
1691    Zambia  2007    11746035    Africa    42.384  1271.211593
1692  Zimbabwe  1952     3080907    Africa    48.451   406.884115
1693  Zimbabwe  1957     3646340    Africa    50.469   518.764268
1694  Zimbabwe  1962     4277736    Africa    52.358   527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298

###Basic Operations on Columns

Column operations = inspect, access, modify, create

In [16]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [19]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [20]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [21]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [23]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [26]:
df["country"].value_counts()

country
Afghanistan           12
Albania               12
Algeria               12
Angola                12
Argentina             12
                      ..
Vietnam               12
West Bank and Gaza    12
Yemen, Rep.           12
Zambia                12
Zimbabwe              12
Name: count, Length: 142, dtype: int64

unique() → distinct values value_counts() → frequency

In [29]:
#rename -> columns -> it does NOT modify original by default

In [30]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [34]:
df.rename({"Country":"Country","population":"Population"})  # This Column name will be same as previous

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [35]:
# To change column permanently

In [38]:
df.rename({"country":"Country","population":"Population"},axis=1,inplace=True)

In [39]:
df.columns

Index(['Country', 'year', 'Population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [41]:
df.rename({3:"Population",4:"name"}) #this is just to check that can we rename row or not?

                Country  year  Population continent  life_exp     gdp_cap
0           Afghanistan  1952     8425333      Asia    28.801  779.445314
1           Afghanistan  1957     9240934      Asia    30.332  820.853030
2           Afghanistan  1962    10267083      Asia    31.997  853.100710
Population  Afghanistan  1967    11537966      Asia    34.020  836.197138
name        Afghanistan  1972    13079460      Asia    36.088  739.981106
...                 ...   ...         ...       ...       ...         ...
1699           Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700           Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701           Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702           Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703           Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [43]:
df #Original column didn't change

          Country  year  Population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [46]:
df.drop("continent",axis=1,inplace=True) #delete column permanently

KeyError: "['continent'] not found in axis"

In [47]:
df

          Country  year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [48]:
# Create column

df["GDP"]=df["gdp_cap"]*df["Population"]

In [49]:
df

          Country  year  Population  life_exp     gdp_cap           GDP
0     Afghanistan  1952     8425333    28.801  779.445314  6.567086e+09
1     Afghanistan  1957     9240934    30.332  820.853030  7.585449e+09
2     Afghanistan  1962    10267083    31.997  853.100710  8.758856e+09
3     Afghanistan  1967    11537966    34.020  836.197138  9.648014e+09
4     Afghanistan  1972    13079460    36.088  739.981106  9.678553e+09
...           ...   ...         ...       ...         ...           ...
1699     Zimbabwe  1987     9216418    62.351  706.157306  6.508241e+09
1700     Zimbabwe  1992    10704340    60.377  693.420786  7.422612e+09
1701     Zimbabwe  1997    11404948    46.809  792.449960  9.037851e+09
1702     Zimbabwe  2002    11926563    39.989  672.038623  8.015111e+09
1703     Zimbabwe  2007    12311143    43.487  469.709298  5.782658e+09

[1704 rows x 6 columns]

In [51]:
df['year+7']=df['year']+7

In [52]:
df

,Country,year,Population,life_exp,gdp_cap,GDP,year+7
0,Afghanistan,1952,8425333,28.801,779.445314,6.567086e+09,1959
1,Afghanistan,1957,9240934,30.332,820.853030,7.585449e+09,1964
2,Afghanistan,1962,10267083,31.997,853.100710,8.758856e+09,1969
3,Afghanistan,1967,11537966,34.020,836.197138,9.648014e+09,1974
4,Afghanistan,1972,13079460,36.088,739.981106,9.678553e+09,1979
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418,62.351,706.157306,6.508241e+09,1994
1700,Zimbabwe,1992,10704340,60.377,693.420786,7.422612e+09,1999
1701,Zimbabwe,1997,11404948,46.809,792.449960,9.037851e+09,2004
1702,Zimbabwe,2002,11926563,39.989,672.038623,8.015111e+09,2009
1703,Zimbabwe,2007,12311143,43.487,469.709298,5.782658e+09,2014

In [53]:
#Now what we can do is delete all the created column and go to orginal column

In [55]:
df.drop(["GDP","year+7"],axis=1,inplace=True)

In [56]:
df

          Country  year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

Basic operation on rows

In [57]:
df

          Country  year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [58]:
#Rows are identified using indices (row labels)

In [59]:
df.shape[0]+1

1705

In [60]:
# change index from start from zero to one

In [62]:
df.index=[row for row in range(1,df.shape[0]+1)]

In [63]:
df

          Country  year  Population  life_exp     gdp_cap
1     Afghanistan  1952     8425333    28.801  779.445314
2     Afghanistan  1957     9240934    30.332  820.853030
3     Afghanistan  1962    10267083    31.997  853.100710
4     Afghanistan  1967    11537966    34.020  836.197138
5     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1700     Zimbabwe  1987     9216418    62.351  706.157306
1701     Zimbabwe  1992    10704340    60.377  693.420786
1702     Zimbabwe  1997    11404948    46.809  792.449960
1703     Zimbabwe  2002    11926563    39.989  672.038623
1704     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [66]:
df.index.values # as you see index are started from 1 instead of 0

array([   1,    2,    3, ..., 1702, 1703, 1704])



*   Row lebel indexing know as explicit indexing
*   Python lebel indxing is known as inplicit indexing

In [67]:
# Can series/dataframe also use python indexing -> Yes

In [68]:
# How can we access explicit index

In [70]:
df.index[1] #inplicit index 1 give explicit index 2

np.int64(2)

But why not we just use implicit indexing?



*   Explicit index of 1st row can be changed to First
*   Or something like a floating point value, say 1.0

In [72]:
df.index=np.arange(1,df.shape[0]+1,dtype='float')

In [73]:
df

            Country  year  Population  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333    28.801  779.445314
2.0     Afghanistan  1957     9240934    30.332  820.853030
3.0     Afghanistan  1962    10267083    31.997  853.100710
4.0     Afghanistan  1967    11537966    34.020  836.197138
5.0     Afghanistan  1972    13079460    36.088  739.981106
...             ...   ...         ...       ...         ...
1700.0     Zimbabwe  1987     9216418    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    46.809  792.449960
1703.0     Zimbabwe  2002    11926563    39.989  672.038623
1704.0     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [74]:
sample=df.head()

In [75]:
sample

         Country  year  Population  life_exp     gdp_cap
1.0  Afghanistan  1952     8425333    28.801  779.445314
2.0  Afghanistan  1957     9240934    30.332  820.853030
3.0  Afghanistan  1962    10267083    31.997  853.100710
4.0  Afghanistan  1967    11537966    34.020  836.197138
5.0  Afghanistan  1972    13079460    36.088  739.981106

In [76]:
sample.index=['a','b','c','d','e']

In [77]:
sample

       Country  year  Population  life_exp     gdp_cap
a  Afghanistan  1952     8425333    28.801  779.445314
b  Afghanistan  1957     9240934    30.332  820.853030
c  Afghanistan  1962    10267083    31.997  853.100710
d  Afghanistan  1967    11537966    34.020  836.197138
e  Afghanistan  1972    13079460    36.088  739.981106

So, now we can see we can use almost anything as our explicit index

In [81]:
#now, lets back to integers

In [82]:
df.index=np.arange(1,df.shape[0]+1,dtype='int')

In [83]:
df

          Country  year  Population  life_exp     gdp_cap
1     Afghanistan  1952     8425333    28.801  779.445314
2     Afghanistan  1957     9240934    30.332  820.853030
3     Afghanistan  1962    10267083    31.997  853.100710
4     Afghanistan  1967    11537966    34.020  836.197138
5     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1700     Zimbabwe  1987     9216418    62.351  706.157306
1701     Zimbabwe  1992    10704340    60.377  693.420786
1702     Zimbabwe  1997    11404948    46.809  792.449960
1703     Zimbabwe  2002    11926563    39.989  672.038623
1704     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [84]:
# What if we want to access any particular row (say forst row)?

In [85]:
# lets see for only one column later we can check for all dataframe

In [87]:
ser=df["Country"]

In [88]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [89]:
# Now what if we want to get 12th row data or you can say 13th element

In [90]:
ser[12]

'Afghanistan'

In [92]:
# And what if we want to access subset of row?

In [93]:
ser[5:15]

6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12    Afghanistan
13        Albania
14        Albania
15        Albania
Name: Country, dtype: object

In [94]:
# above you can see we use slicing as numpy

Notice something different though



*   indexing in series used explicit indices
*   slicing however used implicit indices

In [95]:
# let's try the same for dataframe

In [96]:
# So, how can we acess a row in a data frame?

In [99]:
df[0]

KeyError: 0

In [100]:
df[5:15]

        Country  year  Population  life_exp      gdp_cap
6   Afghanistan  1977    14880372    38.438   786.113360
7   Afghanistan  1982    12881816    39.854   978.011439
8   Afghanistan  1987    13867957    40.822   852.395945
9   Afghanistan  1992    16317921    41.674   649.341395
10  Afghanistan  1997    22227415    41.763   635.341351
11  Afghanistan  2002    25268405    42.129   726.734055
12  Afghanistan  2007    31889923    43.828   974.580338
13      Albania  1952     1282697    55.230  1601.056136
14      Albania  1957     1476505    59.280  1942.284244
15      Albania  1962     1728137    64.820  2312.888958

It looks slicing work for dataframe



*   indexing in dataframe looks for explicit indices
*   slicing, however checked for implicit indices

This can be a cause for confusion



*   To avoid this pandas special indexers loc and iloc
*   We will look at these in a bit lets look at them one by one

1. loc -> provide indexing and slcing that always refrences the explicit index

In [102]:
df.loc[1]

Country       Afghanistan
year                 1952
Population        8425333
life_exp           28.801
gdp_cap        779.445314
Name: 1, dtype: object

In [103]:
df.loc[1:3]

       Country  year  Population  life_exp     gdp_cap
1  Afghanistan  1952     8425333    28.801  779.445314
2  Afghanistan  1957     9240934    30.332  820.853030
3  Afghanistan  1962    10267083    31.997  853.100710

In [104]:
# did you noticed something string here

# The range id inclusive of end pioint for loc
# Row with label 3 is included in the result

2. iloc -> Allow indexing and slicing that always references the implicit python index

In [107]:
df.iloc[1]

Country       Afghanistan
year                 1957
Population        9240934
life_exp           30.332
gdp_cap         820.85303
Name: 2, dtype: object

In [108]:
df.iloc[0:2]

       Country  year  Population  life_exp     gdp_cap
1  Afghanistan  1952     8425333    28.801  779.445314
2  Afghanistan  1957     9240934    30.332  820.853030

In [110]:
# Now, will iloc consider the range inclusive? -> No, because iloc works with python indices

Which on should we use?



*   Generally explicit indexing is considered to be better then explicit
*   But it is recommended to always use both loc and iloc to avoid any confusion

In [109]:
# Now, will iloc consider the range inclusive? -> No, because iloc works with python indices

In [112]:
### what if we want to access multiple non-consecutive rows at same time?

# for rg: rows 1,10,100

In [115]:
df.iloc[[1,10,100]]  #put double bracket to access non-consicutive row

         Country  year  Population  life_exp     gdp_cap
2    Afghanistan  1957     9240934    30.332  820.853030
11   Afghanistan  2002    25268405    42.129  726.734055
101   Bangladesh  1972    70759295    45.252  630.233627